<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063702275544-35211c6tst1ff79m4j0h8v22nangg2qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063702275544-35211c6tst1ff79m4j0h8v22nangg2qj</string>
	<key>API_KEY</key>
	<string>AIzaSyA5rlABNNUa-1VCFLJxKc9FQhiY7v3VQek</string>
	<key>GCM_SENDER_ID</key>
	<string>1063702275544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungglo</string>
	<key>PROJECT_ID</key>
	<string>ungglo</string>
	<key>STORAGE_BUCKET</key>
	<string>ungglo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063702275544:ios:aa0d76df90e1e65e0cbead</string>
	<key>DATABASE_URL</key>
	<string>https://ungglo.firebaseio.com</string>
</dict>
</plist>